.graph {
  width: 2000px;
  height: 2300px;
  border-left: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 50px;
  position: relative;
}

.ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.li {
  width : 100px;
  background-color: blue;
  display:flex;
  flex-direction:column;
  position:absolute;
  bottom: 0;
}